.p-10{
    padding: 10px;
}

.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.black-background{
    background-color: black;
}

.orange{
    background-color: orange;
}

.flex-container{
    display: flex;
}

.mb-5{
    margin-bottom: 5px;
}

.m-5{
    margin: 5px;
}

.mr-5{
    margin-right: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.w10{
    width: 10%;
}

.w67{
    width: 67%;
}

.flex-row{
    flex-direction: row;
}

.w47{
    width: 47%;
}

.w100{
    width: 100%;
}

.w75{
    width: 75%;
}

.w30{
    width: 30%;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between{
    justify-content: space-between;
}


@media (max-width: 1041px){

    .w47{
        width: 42%;
    }

}

@media (max-width: 890px){

    .yellow-blackground{
        background-color: yellow;
    }


}


@media (max-width: 437px){

    .yellow-blackground{
        background-color: yellow;
    }

    .query-one{
        display: flex;
        background-color: orange;
        padding: 10px;
        margin-bottom: 5px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .query-one-sons{
        background-color: black;
        padding: 10px;
        width: auto;
    }

    .query-two-father{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .query-two{
        display: flex;
        background-color: orange;
        padding: 10px;
        margin: 0 0 10 0;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    .query-two-sons{
        background-color: black;
        width: auto;
    }

    .query-three{
        display: flex;
        background-color: orange;
        padding: 10px;
        margin-bottom: 5px;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
    }

    .query-two-sons{
        background-color: black;
        padding: 10px;
        width: auto;
    }
}