.p-10{
    padding: 10px;
}

.mtb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.black-background{
    background-color: black;
}

.orange{
    background-color: orange;
}

.flex-container{
    display: flex;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.w10{
    width: 10%;
}

.w67{
    width: 67%;
}

.flex-row{
    flex-direction: row;
}

.w47{
    width: 47%;
}

.w100{
    width: 100%;
}

.w75{
    width: 75%;
}

.w30{
    width: 30%;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between{
    justify-content: space-between;
}

@media (max-width: 1041px){

    .w47{
        width: 42%;
    }

}

@media (max-width: 890px){

    .yellow-blackground{
        background-color: yellow;
    }

}